<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/mohamednassar/IdeaProjects/E-Commerce-Project/src/test/java/TestCases">
        <classes>
            <class name="TestCases.Cart_and_Checkout">
                <methods>
                    <include name="TC_14_Verify_a_single_item_can_be_removed_from_the_cart_page"/>
                    <include name="TC_15_Verify_a_single_item_can_be_removed_from_the_main_page"/>
                    <include name="TC_16_Verify_all_items_can_be_removed_from_the_cart_page"/>
                    <include name="TC_17_Verify_all_items_can_be_removed_from_the_main_page"/>
                    <include name="TC_24_TestCheckoutProcess"/>
                    <include name="TC_26_testCheckoutWithEmptyFields"/>
                    <include name="TC_25_testCheckoutTotalIsCorrect"/>
                    <include name="testBackToInventoryFromCart"/>
                </methods>
            </class>
            <class name="TestCases.Login_and_Logout">
                <methods>
                    <include name="TestLogin"/>
                    <include name="TestLogout"/>
                </methods>
            </class>
            <class name="TestCases.Menu_and_Icons">
                <methods>
                    <include name="Test"/>
                    <include name="ClickAllItems"/>
                    <include name="clickAbout"/>
                    <include name="Clickontwitter"/>
                    <include name="Clickonfacebook"/>
                    <include name="ClickonLinkedIn"/>
                </methods>
            </class>
            <class name="TestCases.Shopping_Items">
                <methods>
                    <include name="AddAllItemsonCart"/>
                    <include name="testAddToCartFromProductDetails"/>
                    <include name="CheckItemsNames"/>
                    <include name="CheckCartItemIsOpen"/>
                </methods>
            </class>
            <class name="TestCases.Sort">
                <methods>
                    <include name="TC_10_Verify_items_can_be_sorted_by_price_low_to_high"/>
                    <include name="TC_11_Verify_items_can_be_sorted_by_price_high_to_low"/>
                    <include name="TC_12_Verify_items_can_be_sorted_alphabetically_AtoZ"/>
                    <include name="TC_13_Verify_items_can_be_sorted_alphabetically_ZtoA"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>